<section id="section-connexion" style="display: flex">
    <div class="contenu-auth">
        <h2>Connexion</h2>
        <form id="form-connexion" class="form-authentification">
            <label for="input-courriel">Courriel</label>
            <input type="email" id="input-courriel" name="courriel" required />

            <label for="input-mot-de-passe">Mot de passe</label>
            <input
                type="password"
                id="input-mot-de-passe"
                name="motDePasse"
                required
            />

            <button type="submit">Connexion</button>
        </form>

        <button id="btn-afficher-inscription">Créer un compte</button>
    </div>

    <a href="/" id="connexion-retour">Retour</a>
</section>

<section id="section-inscription" style="display: none">
    <div class="contenu-auth">
        <h2>Nouveau compte</h2>
        <form id="form-inscription" class="form-authentification">
            <label for="input-courriel2">Courriel</label>
            <input type="email" id="input-courriel2" name="courriel" required />

            <label for="input-mot-de-passe2">Mot de passe</label>
            <input
                type="password"
                id="input-mot-de-passe2"
                name="motDePasse"
                required
            />

            <label for="input-nom">Nom</label>
            <input type="text" id="input-nom" name="nom" required />

            <button type="submit">Inscription</button>
        </form>

        <button id="btn-retour-connexion">Se connecter</button>
    </div>

    <a href="/" id="connexion-retour">Retour</a>
</section>