<header>
    <nav id="conteneur-bouton-header" class="barre_outils">
        <input class="bouton-header" type="button" value="Filtrage">
        <input class="bouton-header" type="button" value="Tri par date">
        <input class="bouton-header" type="button" value="Historique">
        <input class="bouton-header" type="button" value="Utilisateur">
    </nav>
</header>
<main>
    <div id="conteneur-tache">
        <div id="aFaire" class="colonne-tache">
            <div class="entete-tache">À faire</div>

            <div class="todo">
                <ul>
                    <template id="todo-template">
                        <li>
                        <p>Titre 1</p>
                        <div class="priorite"></div>
                        </li>
                    </template>                   
                    <li>
                        <p>Titre 2</p>
                        <div class="priorite"></div>
                    </li>
                    <li>
                        <p>Titre 3</p>
                        <div class="priorite"></div>
                    </li>
                </ul>
            </div>
            <div class="bas-tache">
                <input type="button" class="ajouter-tache" value="+">
            </div>
        </div>

        <div id="enCours" class="colonne-tache">
            <div class="entete-tache">En cours</div>

            <div class="todo">
                <ul>
                    <template id="todo-template">
                        <li>
                        <p>Titre 1</p>
                        <div class="priorite"></div>
                        </li>
                    </template>  
                    <li>
                        <p><a href="/details/1">Titre 1</a></p>
                        <div class="priorite"></div>
                    </li>
                    <li>
                        <p>Titre 2</p>
                        <div class="priorite"></div>
                    </li>
                    <li>
                        <p>Titre 3</p>
                        <div class="priorite"></div>
                    </li>
                </ul>
            </div>
            <div class="bas-tache">
                <input type="button" class="ajouter-tache" value="+">
            </div>
        </div>

        <div id="enRevision" class="colonne-tache">
            <div class="entete-tache">En révision</div>

            <div class="todo">
                <ul>
                    <template id="todo-template">
                        <li>
                        <p>Titre 1</p>
                        <div class="priorite"></div>
                        </li>
                    </template>  
                    <li>
                        <p>Titre 1</p>
                        <div class="priorite"></div>
                    </li>
                    <li>
                        <p>Titre 2</p>
                        <div class="priorite"></div>
                    </li>
                </ul>
            </div>
            <div class="bas-tache">
                <input type="button" class="ajouter-tache" value="+">
            </div>
        </div>

        <div id="terminer" class="colonne-tache">
            <div class="entete-tache">Terminée</div>

            <div class="todo">
                <ul>
                    <template id="todo-template">
                        <li>
                        <p>Titre 1</p>
                        <div class="priorite"></div>
                        </li>
                    </template>  
                    <li>
                        <p>Titre 1</p>
                        <div class="priorite"></div>
                    </li>
                    <li>
                        <p>Titre 2</p>
                        <div class="priorite"></div>
                    </li>
                </ul>
            </div>
            <div class="bas-tache">
                <input type="button" class="ajouter-tache" value="+">
            </div>
        </div>
    </div>
</main>