:root{
  --couleur-beige: #f1cda4;
  --couleur-brun_pale: #bf976b;
  --couleur-brun_fonce: #8a6d4d;
  --couleur-vert: #776e18;
  --couleur-jaune: #b88417;
  --couleur-rouge:#842c2c;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--couleur-beige);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--couleur-brun_fonce);
  height: 5vh;
  display: flex;
  justify-content: right;
}

header .bouton-header {
  background-color: var(--couleur-brun_fonce);
  color: var(--couleur-beige);
  border: none;
  height: 100%;
}

header .bouton-header:hover {
  cursor: pointer;
}

.barre_outils .bouton-header {
  height: 100%;
  border-left: 2px solid #000;
  align-items: center;
  color: var(--couleur-beige);
}

#ajout-todo-form {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 45%;
  justify-self: center;
  margin-top: 5rem;
  background-color: var(--couleur-brun_fonce);
  /* padding: 1rem; */
  border-radius: 5px;
  color: var(--couleur-beige);
}

.form-group {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  flex-wrap: wrap;
}

.form-group:first-child {
  margin-top: 1rem;
}

.form-group:nth-child(7) {
  margin-bottom: 1rem;
}

.form-group label {
  margin-top: 1rem;
  margin-right: 10px;
  width: 50%;
}

.form-group input,
.form-group select {
  border-radius: 5px;
  border: none;
  flex: 1;
  padding: 0.5rem;
  width: 100%;
  color: var(--couleur-beige);
  font-size: 1rem;
  min-width: 12rem;
  margin-top: 1rem;
}
#ajout-todo-form select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

#todo-background {
  padding-top: 2rem;
  background-color: var(--couleur-beige);
}

.bouton {
  background-color: var(--couleur-brun_fonce);
  color: var(--couleur-beige);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.bouton:hover {
  background-color: var(--couleur-brun_fonce);
}

.bouton:active {
  background-color: #765d42;
}

#ajout-todo-form button {
  margin: 0 50%;
  transform: translate(-50%, 0);
}

#conteneur-bouton-bas {
  display: flex;
  justify-content: space-between;
  width: 85%;
  justify-self: center;
}

.bouton-bas {
  padding: 0 1rem;
}

#bouton-retour {
  font-size: 3rem;
  padding-bottom: 5px;
  text-decoration: none;
}
