:root {
  --couleur-beige: #f1cda4;
  --couleur-brun_pale: #bf976b;
  --couleur-brun_fonce: #8a6d4d;
  --couleur-vert: #776e18;
  --couleur-jaune: #b88417;
  --couleur-rouge: #842c2c;
}

body {
  background-color: var(--couleur-brun_pale);
}
header {
  background-color: var(--couleur-brun_fonce);
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  padding: 0rem 1rem;
}

header .fermer {
  fill: var(--couleur-beige);
}

main {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.details-resume {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.details-historique {
  display: flex;
  gap: 1.5rem;
  margin: 3rem 0;
}

.details {
  background-color: var(--couleur-brun_fonce);
}

.detail-ligne {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
}

.detail-ligne .detail-key {
  min-width: 6.5rem;
  margin: 0;
}

.detail-ligne .detail-value {
  margin: 0;
}

.bar-separation {
  border-radius: 19%;
  border: 2px solid var(--couleur-beige);
}

.historique {
  background-color: var(--couleur-brun_pale);
  min-width: 11rem;
}

.historique .historique-entete {
  background-color: var(--couleur-brun_fonce);
  text-align: center;
  padding: 0.5rem;
  border-radius: 10% 10% 0 0;
}

.historique .historique-ligne {
  height: 3rem;
  color: var(--couleur-brun_fonce);
  background-color: var(--couleur-beige);
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.historique .historique-ligne p {
  margin: 0;
}

.historique .historique-pied {
  background-color: var(--couleur-brun_fonce);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0 0 10% 10%;
}

.historique-pied a {
  text-decoration: none;
  color: var(--couleur-beige);
}

#pied-fleche {
  text-decoration: none;
}

.div-arrow {
  background-color: var(--couleur-brun_fonce);
  color: var(--couleur-beige);
  text-decoration: none;
  border-radius: 10%;
  width: 5rem;
  font-size: 3rem;
  padding: 0 1rem;
}
