:root {
    --couleur-beige: #fff7ee;
    --couleur-brun_pale: #bf976b;
    --couleur-brun_fonce: #8a6d4d;
    --couleur-brun_foncer: #533e28;
    --couleur-blanche: #fff;
    --couleur-vert: #776e18;
    --couleur-jaune: #b88417;
    --couleur-rouge: #842c2c;
}

html {
    box-sizing: border-box;
    color: var(--couleur-beige);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

body {
    margin: 0;
    background-color: var(--couleur-blanche);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 50rem;
}

header {
    background-color: var(--couleur-brun_fonce);
    height: 5vh;
    display: flex;
    justify-content: right;
}

nav #conteneur-bouton-header {
    display: flex;
    justify-content: flex-start;
}

header .bouton-header {
    background-color: var(--couleur-brun_fonce);
    color: var(--couleur-beige);
    border: none;
    height: 100%;
    padding: 0 1rem;
}

header .bouton-header:hover {
    cursor: pointer;
}

.barre_outils .bouton-header {
    height: 100%;
    border-left: 2px solid #000;
    align-items: center;
    color: var(--couleur-beige);
}

header form,
#bouton-deconnexion {
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    height: 5vh;
    border-left: none;
    border-right: 2px solid #000;
}
.menu-filtre {
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #fff;
    border: 1px solid var(--couleur-brun_fonce);
}


.filtre-priorite{
    color: var(--couleur-brun_fonce);
    padding: 0.5rem;
    text-align: center;
}

.filtre-priorite:hover{
  background-color:#aaa;
}

#menu-trier{
  display: none;
  color: var(--couleur-brun_fonce);
  align-items: center;
  position: absolute;
  flex-direction: column;
  gap: 0.5rem;
  
}

.sous-menu-trier{
  display: flex;
  position: relative;
  flex-direction: column;
  left: 10px;
  background-color: #fff;
  border: 1px solid var(--couleur-brun_fonce);
  left: 4.25rem;
}

.sous-menu-trier span{
  display: flex;
  justify-content: space-between;
}

.option-tri{
  padding: .5rem;
}

.option-tri:hover{
  background-color:#aaa;
  padding: .5rem;
}

#conteneur-tache {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.colonne-tache {
    background-color: var(--couleur-beige);
    width: 25vw;
    border-radius: 10%;
}

.colonne-tache a {
    text-decoration: none;
    color: var(--couleur-brun_fonce);
}

.colonne-tache .entete-tache {
    background-color: var(--couleur-brun_fonce);
    color: var(--couleur-blanche);
    display: flex;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.colonne-tache ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: var(--couleur-beige);
    min-height: 5vh;
}

.colonne-tache li {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.colonne-tache li:not(:last-child) {
    border-bottom: 2px solid var(--couleur-brun_fonce);
}

.colonne-tache p {
    color: var(--couleur-brun_fonce);
    font-weight: 600;
}

.colonne-tache .priorite1 {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--couleur-vert);
}

.colonne-tache .priorite2 {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--couleur-jaune);
}

.colonne-tache .priorite3 {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--couleur-rouge);
}

.bas-tache {
    background-color: var(--couleur-brun_fonce);
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    justify-content: end;
}

.bas-tache .ajouter-tache {
    color: var(--couleur-blanche);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 900;
    margin-right: 0.5rem;
}

.ajouter-tache:hover {
    color: #533e28;
}

.ajouter-tache:active {
    color: #533e28;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: var(--couleur-brun_fonce);
}
